<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HotelPropertyDescriptionSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="HotelPropertyDescriptionSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://sws-crt.cert.sabre.com/" binding="basicHttpBinding"
                bindingConfiguration="HotelPropertyDescriptionSoapBinding"
                contract="wsSubreHotelPropertyDescriptionRQ.HotelPropertyDescriptionPortType"
                name="HotelPropertyDescriptionPortType" />
        </client>
    </system.serviceModel>
</configuration>